* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 13px;
}

.container {
  margin: 15px 25px 0 25px;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center-group {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding-top: 109px;
  align-items: center;
}

.center-group img {
  width: auto;
  height: 90px;
  margin-bottom: 30px;
}

.center-group input {
  min-width: 550px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid rgb(212, 212, 212);
}

.main-header img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.main-header button {
  height: 30px;
  width: 100px;
  background-color: #1a73e8;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}

.main-header a {
  margin-right: 20px;
}