* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.main-header img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  margin-left: 15px;
}

.main-header .login {
  height: 35px;
  width: 90px;
  background-color: #1a73e8;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.main-header a {
  margin-right: 20px;
  color: rgba(0,0,0,0.87);
}

.form-group {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: auto;
  padding-top: 28px;
  align-items: center;
}

.form-group img {
  width: auto;
  height: 90px;
  margin-bottom: 25px;
}

.input-field {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  width: 100%;
}

.input-field .form-logo-search, .input-field .form-logo-keyboard {
  position: relative;
  align-self: center;
}

.input-field .form-logo-search {
  left: 40px;
}

.input-field .form-logo-keyboard {
  right: 50px;
}

.form-group .input-field .search-bar {
  max-width: 590px;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px 55px;
  font-size: 16px;
}

.form-group .input-field input:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.form-group .input-field input:focus {
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.form-group .btn_search, .btn_lucky {
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  padding: 0 14px;
  border-radius: 4px;
}

.form-group button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.button-group {
  margin-top: -15px;
}

.button-group .btn_search {
  margin-right: 15px;
}

.footer-container {
  border-top: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  padding: 12px 35px;
  margin-top: 40px;
}

.left-group a, .right-group a {
  color: #70757a;
  margin-right: 20px;
  font-size: 14px;
}

.footer-list {
  list-style: none;
  display: flex;
}

ul li:last-child {
  margin-right: -20px;
}

.input-field .form-logo-search svg{
  width: 20px;
  height: 15px;
  fill: #7b7d81;
}

.input-field .form-logo-keyboard svg {
  width: 40px;
  height: 20px;
  fill: #7b7d81;
}

@media(max-width: 780px){
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 16px;
  }

  .footer-container .right-group {
    margin-top: 10px;
  }
}

@media(max-width: 700px) {
  .form-group .input-field .search-bar{
    width: 80%;
  }

  .icons {
    display: none;
  }

}